# Bağımlılıklar
node_modules/

# Build çıktıları
dist/

# npm lock
package-lock.json

# Electron builder cache
.electron-builder-cache/

# Kullanıcıya özel veriler (geliştirici ortamı)
*.log
npm-debug.log*

# OS dosyaları
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
